.services {
    padding: 0 3rem 0 3rem;
    display: flex;
    height: 90vh;
    margin-bottom: 8rem;
    margin-top: 9rem;
    margin-bottom: 13rem;
}

.awesome {
    display: flex;
    flex-direction: column;
    position: relative;
}


.awesome > :nth-child(1) {
    color: var(--black);
    font-size: 2.5rem;
}











